/venv
/drivers/*
/.vscode
!/drivers/README.md
/__pycache__
/Python37-32
/7zip
/compiled
/installer
/arsip
/images
*.bat
coba.py
compile.py
*.pyc
workspace.code-workspace
launch.json
*.7z
listfile.txt
.gitignore
*.csv